*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Debug */

.debug header {
    background-color: #255EE9;
}

/* regole css*/
main{
    max-width: 1170px;
    margin: auto;
}

.flex-conteiner{
    display: flex;
    padding: 20px;
    max-width: 1170px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    
    
}

li{
    list-style: none;
    display: inline-block;
    color: white;
    padding: 20px;
    text-decoration: none;
    
}
.button{
    border-radius: 20px;
    display: inline-block;
    text-decoration: none;
}
.button.button-white{
    color: black;
    background-color: white;
}
.button.small-button{
    padding: 8px;
}
.button.button-violet{
    color:white;
    background-color:#7289DA;
}



.header-bottom{
    background-image: url("../img/jumbo.png");
    padding:30px;
    height: 500px;
    background-size: cover;
    background-position: center;
    
}

.content{
    text-align: center;
    max-width: 1170px;
    margin: auto;
}

.header-bottom h1, .header-bottom p{
    color: white;
    margin: 20px 0px 40px 0px;
    line-height: 1.8em;
}

.button.button-big{
    padding: 14px;
    border-radius: 20px;
    font-size: 18px;
    margin: 0px 10px;

}

.button.button-dark{
    color: white;
    background-color: black;
}

.conteiner-flex img{
    width: 100%;
}
.conteiner-flex{
    display: flex;
    max-width: 1170px;
    margin: auto;
}

.conteiner-flex .immagine{
    width: 70%;
}

.icon{
    margin-right: 5px;
}

.conteiner-flex .contenuto{
    width: 30%;
    padding: 50px;
}



.contenuto2{
    background-color: lightgrey;
    padding: 30px;
}

.container-down {
    text-align: center;
    margin: auto;
    width: 80%;
    background: cover;
}
.sotto-contenuto{
    height: 200px;
    background-color:#228A22;
    border: 2px dashed black;
    width: 95%;
    height: 800px;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: center; 
   
}

footer {
    background-color: #23272A;
}

.social {
    color: white;

}

.ita {
    width: 1.5rem;
}

h4  {
    color: #7289da;
    font-size: 1.2rem;
}

.title {
    color: #7289da;
}

li {
    color: white;
}

.foot-menu {
    flex-basis: 68%;
}
 .striscia {
    border-top: 2px solid #7289da;
 }


 .container-down2 {
    display: flex;
    max-width: 1170px;
    margin: auto;
    justify-content: space-between;
    align-content: center;

}
    
li {
    line-height: 2.5rem;
    list-style: none;
}

footer {
    padding: 2.5rem;
}

section {
    padding-bottom: 3.5rem;
}
.footer-conteiner{
    display: flex;
    justify-content: space-between;
    padding: 10px;

}
