*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Debug */

.debug header {
    background-color: #255EE9;
}

/* regole css*/

.flex-conteiner{
    display: flex;
    padding: 20px;
    max-width: 1170px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    
    
}

li{
    list-style: none;
    display: inline-block;
    color: white;
    padding: 20px;
    text-decoration: none;
    
}
.button{
    border-radius: 20px;
    display: inline-block;
    text-decoration: none;
}
.button.button-white{
    color: black;
    background-color: white;
}
.button.small-button{
    padding: 8px;
}



.header-bottom{
    background-image: url("../img/jumbo.png");
    padding:30px;
    height: 500px;
    background-size: cover;
    background-position: center;
    
}

.content{
    text-align: center;
    max-width: 1170px;
    margin: auto;
}

.header-bottom h1, .header-bottom p{
    color: white;
    margin: 20px 0px 40px 0px;
    line-height: 1.8em;
}

.button.button-big{
    padding: 14px;
    border-radius: 20px;
    font-size: 18px;
    margin: 0px 10px;

}

.button.button-dark{
    color: white;
    background-color: black;
}

.conteiner-flex img{
    width: 100%;
}
.conteiner-flex{
    display: flex;
    max-width: 1170px;
    margin: auto;
}

.conteiner-flex .immagine{
    width: 70%;
}


.conteiner-flex .contenuto{
    width: 30%;
    padding: 50px;
}



.contenuto2{
    background-color:#D3D3D3 ;
    padding: 30px;
}

    
.sotto-contenuto{
    height: 200px;
    background-color:#228A22;
    border: 2px dashed black;
    width: 95%;
    height: 800px;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: center; 
   
}

.footer-top{
    background-color: #23272A;
    padding: 50px;
    
    
    
}

.flex .contenutoA{

    border: 2px dashed white;
    width: 20%;
    height: 400px;
    background-color: #F08080;

}
.flex .contenutoB{

    border: 2px dashed white;
    width: 10%;
    height: 400px;
    background-color: #1FAEA6;
    
}
.flex .contenutoC{
    border: 2px dashed white;
    width: 10%;
    height: 400px;
    background-color: #1FAEA6;
    
}
.flex .contenutoD{
    border: 2px dashed white;
    width: 10%;
    height: 400px;
    background-color: #1FAEA6;
    
}
.flex .contenutoE{
    border: 2px dashed white;
    width: 10%;
    height: 400px;
    background-color: #1FAEA6;
    
}
hr{
    color: white;
    margin: 30px 0px;
}


.flex2{
    display: flex;
    justify-content: space-between;
    background-color: #7FFFD4;
    align-content:center;
    max-width: 1500px;
}

h5{
    border: 2px dashed black;

}
.logo-footer{
    background-color: #FFB6C1;
    padding:5px;
    margin:10px 0px;
}
.bottone-footer{
    background-color: #FFB6C1;
    padding: 5px;
    margin:10px 0px;

}
.background{
    background-color: #23272A;
}
